@mixin tab-shadow($color){
    box-shadow:1px -15px 20px $color;
	-webkit-box-shadow:1px -15px 20px $color;
  -moz-box-shadow:1px -15px 20px $color;
}

@mixin border-radius($arc){
    -webkit-border-radius: $arc;
    -moz-border-radius: $arc;
    border-radius: $arc;
}
