@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* COLORS
================================================================= */
$bluedark:#1D242A;
$bluelight: #355260;
$purple:#9B64A7;

$bluelight:#96D7E2;

$red: #ED1C24;
$greydark:#2D2D2D;


/* FONTS
================================================================= */
$link-primary: $bluedark;
$link-hover: $bluelight;

$font-primary: 'Roboto', 'Open Sans', sans-serif;

/* SIZES - Basic height and width
================================================================= */
/* Header height */
$header-l-screen: 100px;
$header-m-screen: 120px;

/* Margin -top */
$marin-top-l: 100px;
$margin-top-m: 150px;