/* BASE - Base Variable file along with starting point Mixins and Placeholders.
================================================================= */
@import 'base/variables';
@import 'base/placeholders';

/* BASE FONTS - Body, links, headers.
================================================================= */
body{
    font-size:15px;
    line-height:1.8em;
	font-weight:400;
	font-family:$font-primary;
}
a{
	text-decoration:none;
    color:$bluedark;
    &:hover,
    focus,
    visited{
        text-decoration:none;
        outline:none;
    }
}
.text-white{
    color:white;
}
.purple{
    color: $purple;
}
.blue{
    background: $blue;
}
.green{
    background: $green;
}
/* FRAMEWORK - Header,Footer, Main.
================================================================= */
@import 'modules/header';
@import 'modules/userheader';
@import 'modules/footer';

.main{
    margin-top: 20px;
}
.btn-nav{
    display: block;
    width:5%;
    margin-left:1%;
    margin-right:1%;
    margin-top: 10px;
    font-size:40px;
    background: transparent;
    border:none;
    &:focus{
        outline:0;
        color:$purple
    }
}

/* MODULES 
================================================================= */
@import 'modules/calendar';
@import 'modules/headerMonth';
@import 'modules/rules';