.rbc-calendar{
  flex: 1;
  min-height: 400px;
}
.rbc-month-header{
  background: $greylight;
}
.rbc-day-bg{
  &:nth-child(6n), &:nth-child(7n){
    background: $greydark;
  }
}

.rbc-today{
  background-color: lighten($purple,15%)!important;
  background: $purple;
}
.rbc-event-content{
  font-size:9px;
  line-height:1;
 }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
  
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
  
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
  
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
  
  }
  /* iPad */
  @media all and (min-width:768px) and (max-width:1023px) {
      .head-nav {
          height: $header-m-screen;
      }
      .rbc-calendar{
        min-height: 800px;
      }
      .hide-mobile{
        display: none;
      }
}
  
  /*==========  Non-Mobile First Method  ==========*/
  
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
  
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
  
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
   
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    .rbc-calendar{
      min-height: 400px;
    }
    .hide-mobile{
      display: none;
    }
  }
  
  /* Custom, iPhone Retina */
  @media only screen and (max-width : 320px) {
  
  }
  
  @media all and (min-width:1024px) {

  }
  
  
  @media all and (max-width:768px) {
    
  }
  
  @media all and (max-width: 480px){ /* When screen size is 480px */
  
    
  }


